.navbar {
    width: 100%;
    display: flex;
    padding: 0;
    justify-content: space-between;
    align-items: center;
}

.routesList {
    display: flex;
    list-style-type: none;
    justify-content: end;
    align-items: center;
    flex-grow: 1;
}

.routeLink {
    font-style: normal;
    cursor: pointer;
    font-size: 16px;
}